@{
    ViewData["Title"] = "About the web apps";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<link rel="stylesheet" href="/css/about.css">

<div class="grid-2-col">
    <div class="applications">
        <p>The terms lightweight means this app runs on user's device and receive results from api instead of processing it on the server. It uses JS to process the response and show it on user's device</p>
    </div>
    <div class="github">
        <div class="pull-right">    
            <a href="https://github.com/devFreeTea/LWTranslator"><i class="fab fa-github fa-4x"></i></a>
        </div>
    </div>
    <div class="service">
        <h4>Service Provider</h4>
        <div class="card">
            <img src="https://i.imgur.com/6H8GPt9.png" alt="imbcloud">
            <p>
                <b>IBM Bluemix</b> is a cloud platform as a service (PaaS) developed by IBM. It supports several programming languages and services as well as integrated DevOps to build, run, deploy and manage applications on the cloud. Bluemix is based on Cloud Foundry open technology and runs on SoftLayer infrastructure.
            </p>
        </div>
        <div class="card">
            <img src="https://i.imgur.com/EVyiaaZ.png" alt="yandex">
            <p>
                <b>Yandex N.V.</b> is a multinational corporation specializing in Internet-related services and products. Yandex is an AI company that provides search and information services, eCommerce, transportation, navigation, and other mobile applications in addition to offering online advertising.
            </p>
        </div>
    </div>
    <div class="frameworks">
        <h4>Frameworks Used</h4>
        <div class="card">
            <img src="https://i.imgur.com/1d1x6ng.png" alt="netcore">
            <p>
                <b>.NET Core</b> is a general purpose development platform maintained by Microsoft and the .NET community on GitHub. It is cross-platform, supporting Windows, macOS and Linux, and can be used in device, cloud, and embedded/IoT scenarios.
            </p>
        </div>
        <div class="card">
            <img src="https://i.imgur.com/2XbWVy3.png" alt="bootstrap">
            <p>
                <b>Bootstrap</b> is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
            </p>
        </div>
    </div>
</div>